body {
    background: linear-gradient(to right, #1e3a8a, #3b82f6, #93c5fd);
    background-size: 300% 100%;
    animation: slideGradient 15s ease-in-out infinite;
}

@keyframes slideGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0;
    animation: glow 5s infinite;
    background-color: green;
    box-shadow: 0 0 0 4px #c2b7f0, 0 0 0 8px #d6d1ed;
    transform: scale(1.05);

}

button:hover {
    background-color: red;
}


@keyframes bump {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bump {
    font-size: 40px;
}

.bump.animate {
  animation: bump 1s ease;
  will-change: transform, opacity;
}
